
documents/report/*.aux
documents/report/*.bbl
documents/report/*.blg
documents/report/*.lof
documents/report/*.log
documents/report/*.lot
documents/report/*.gz
documents/report/*.toc
documents/report/*.out

code/octodrone/build/*
code/octodrone/lib/*
code/octodrone/include/*

code/octodronecomms/build/*
code/octodronecomms/lib/*
code/octodronecomms/include/*

code/octodroneparrot/build/*
code/octodroneparrot/lib/*
code/octodroneparrot/include/*

code/programs/build/*
code/programs/include/*

code/simulations/build/*
code/simulations/bin/*

documents/documentation/latex/*
!documents/documentation/latex/refman.pdf
