
documents/report/*.aux
documents/report/*.bbl
documents/report/*.blg
documents/report/*.lof
documents/report/*.log
documents/report/*.lot
documents/report/*.gz
documents/report/*.toc
documents/report/*.out

code/liboctodrone/build/*
code/liboctodrone/lib/*

code/liboctodronecomms/build/*
code/liboctodronecomms/lib/*

code/liboctodroneparrot/build/*
code/liboctodroneparrot/lib/*

code/programs/build/*

code/simulations/build/*
code/simulations/bin/*

documents/documentation/latex/*
!documents/documentation/latex/refman.pdf
