
documents/report/*.aux
documents/report/*.bbl
documents/report/*.blg
documents/report/*.lof
documents/report/*.log
documents/report/*.lot
documents/report/*.gz
documents/report/*.toc
code/simulator/build/*
code/programs/build/parrot.sock
code/communication/aodv/build/*
code/communication/basic/build/*
code/communication/basic_addressed/build/*
code/communication/build/*
code/programs/build/*
documents/documentation/latex/*
!documents/documentation/latex/refman.pdf
